### macOS ###
# General
.DS_Store

# Project
.idea
*.iml
target
standalone/data
standalone/data/*
standalone/tmp
standalone/tmp/*
standalone/log
standalone/log/*
standalone/deployments
standalone/deployments/*
standalone/lib
standalone/lib/*
